# Slack Connector Manifest
# Slack messaging platform integration

id: slack
name: Slack
description: Slack messaging platform - send messages, manage channels, and more
version: 1.0.0
base_url: https://slack.com/api

# Authentication
auth:
  type: oauth2
  oauth2:
    authorization_url: https://slack.com/oauth/v2/authorize
    token_url: https://slack.com/api/oauth.v2.access
    scopes:
      - chat:write
      - chat:write.public
      - channels:read
      - channels:join
      - users:read
      - files:write
  fields:
    - name: access_token
      label: Bot Token
      type: password
      required: true
      secret: true
      description: Slack Bot User OAuth Token (xoxb-...)

documentation_url: https://api.slack.com/
icon_url: https://a.slack-edge.com/80588/marketing/img/icons/icon_slack_hash_colored.png

categories:
  - communication
  - messaging

tags:
  - slack
  - chat
  - notifications
  - team

# Actions
actions:
  # --- Messages ---
  - id: post_message
    name: Post Message
    description: Send a message to a channel
    method: POST
    endpoint: /chat.postMessage
    body_fields:
      - channel
      - text
      - blocks
      - thread_ts
      - mrkdwn
    inputs:
      - name: channel
        label: Channel
        type: string
        required: true
        description: Channel ID or name (e.g., C1234567890 or #general)
      - name: text
        label: Message Text
        type: text
        required: true
        description: The message text (supports markdown)
      - name: blocks
        label: Blocks (JSON)
        type: object
        required: false
        description: Block Kit UI components (JSON array)
      - name: thread_ts
        label: Thread Timestamp
        type: string
        required: false
        description: Timestamp of parent message to reply in thread
      - name: mrkdwn
        label: Enable Markdown
        type: boolean
        required: false
        default: true
        description: Enable Slack markdown formatting
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: ts
        label: Message Timestamp
        type: string
      - name: channel
        label: Channel ID
        type: string

  - id: update_message
    name: Update Message
    description: Update an existing message
    method: POST
    endpoint: /chat.update
    body_fields:
      - channel
      - ts
      - text
      - blocks
    inputs:
      - name: channel
        label: Channel
        type: string
        required: true
      - name: ts
        label: Message Timestamp
        type: string
        required: true
        description: Timestamp of the message to update
      - name: text
        label: New Text
        type: text
        required: true
      - name: blocks
        label: Blocks (JSON)
        type: object
        required: false
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: ts
        label: Message Timestamp
        type: string

  - id: delete_message
    name: Delete Message
    description: Delete a message from a channel
    method: POST
    endpoint: /chat.delete
    body_fields:
      - channel
      - ts
    inputs:
      - name: channel
        label: Channel
        type: string
        required: true
      - name: ts
        label: Message Timestamp
        type: string
        required: true
    outputs:
      - name: ok
        label: Success
        type: boolean

  # --- Channels ---
  - id: list_channels
    name: List Channels
    description: Get list of channels
    method: GET
    endpoint: /conversations.list
    query_fields:
      - types
      - exclude_archived
      - limit
    inputs:
      - name: types
        label: Channel Types
        type: string
        required: false
        default: public_channel,private_channel
        description: Comma-separated list of channel types
      - name: exclude_archived
        label: Exclude Archived
        type: boolean
        required: false
        default: true
      - name: limit
        label: Limit
        type: integer
        required: false
        default: 100
        max_value: 1000
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: channels
        label: Channels
        type: array

  - id: join_channel
    name: Join Channel
    description: Join a public channel
    method: POST
    endpoint: /conversations.join
    body_fields:
      - channel
    inputs:
      - name: channel
        label: Channel ID
        type: string
        required: true
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: channel
        label: Channel Object
        type: object

  # --- Users ---
  - id: list_users
    name: List Users
    description: Get list of workspace users
    method: GET
    endpoint: /users.list
    query_fields:
      - limit
    inputs:
      - name: limit
        label: Limit
        type: integer
        required: false
        default: 100
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: members
        label: Members
        type: array

  - id: get_user
    name: Get User Info
    description: Get information about a user
    method: GET
    endpoint: /users.info
    query_fields:
      - user
    inputs:
      - name: user
        label: User ID
        type: string
        required: true
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: user
        label: User Object
        type: object

  - id: lookup_user_by_email
    name: Lookup User by Email
    description: Find a user by their email address
    method: GET
    endpoint: /users.lookupByEmail
    query_fields:
      - email
    inputs:
      - name: email
        label: Email Address
        type: email
        required: true
    outputs:
      - name: ok
        label: Success
        type: boolean
      - name: user
        label: User Object
        type: object

  # --- Reactions ---
  - id: add_reaction
    name: Add Reaction
    description: Add an emoji reaction to a message
    method: POST
    endpoint: /reactions.add
    body_fields:
      - channel
      - timestamp
      - name
    inputs:
      - name: channel
        label: Channel
        type: string
        required: true
      - name: timestamp
        label: Message Timestamp
        type: string
        required: true
      - name: name
        label: Emoji Name
        type: string
        required: true
        description: Emoji name without colons (e.g., thumbsup)
    outputs:
      - name: ok
        label: Success
        type: boolean

# Triggers
triggers:
  - id: new_message
    name: New Message
    description: Triggered when a new message is posted
    type: webhook
    webhook_event: message
    outputs:
      - name: channel
        type: string
      - name: user
        type: string
      - name: text
        type: string
      - name: ts
        type: string

  - id: reaction_added
    name: Reaction Added
    description: Triggered when a reaction is added to a message
    type: webhook
    webhook_event: reaction_added
    outputs:
      - name: reaction
        type: string
      - name: user
        type: string
      - name: item_channel
        type: string
      - name: item_ts
        type: string

supports_webhooks: true
